<div class="rating-star">
	<div class="rating-star__items">
		<input id="rating-5" type="radio" value="5" name="rating" class="rating-star__item">
		<label for="rating-5" class="rating-star__label"></label>
		<input id="rating-4" type="radio" value="4" name="rating" class="rating-star__item">
		<label for="rating-4" class="rating-star__label"></label>
		<input id="rating-3" type="radio" value="3" name="rating" class="rating-star__item">
		<label for="rating-3" class="rating-star__label"></label>
		<input id="rating-2" type="radio" value="2" name="rating" class="rating-star__item">
		<label for="rating-2" class="rating-star__label"></label>
		<input id="rating-1" type="radio" value="1" name="rating" class="rating-star__item">
		<label for="rating-1" class="rating-star__label"></label>
	</div>
</div>