<div class="rating-star">
	<div class="rating-star__items">
		<label class="rating-star__label">
			<input type="radio" value="5" name="rating"
				class="rating-star__item">
		</label>
		<label class="rating-star__label">
			<input type="radio" value="4" name="rating"
				class="rating-star__item">
		</label>
		<label class="rating-star__label">
			<input type="radio" value="3" name="rating"
				class="rating-star__item">
		</label>
		<label class="rating-star__label">
			<input type="radio" value="2" name="rating"
				class="rating-star__item">
		</label>
		<label class="rating-star__label">
			<input type="radio" value="1" name="rating"
				class="rating-star__item">
		</label>
	</div>
</div>