@import url("reset.css");
@import url("fonts.css");

@import url("../components/btn.css");
@import url("../components/rating.css");

body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #1A1A1A;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	/*1200 + 15 + 15*/
	margin: 0 auto;
	padding: 0 15px;
}



/*=========================================================================*/


header,
footer {
	font-size: 50px;
	color: #fff;
	text-align: center;
	background-color: #5600a7;
	padding: 20px;
}


.products {
	padding: 60px 0;
}


.products__header {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;
}

.products__title {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
}

.products__sub-title {
	color: #00B207;
	font-weight: 500;
	letter-spacing: 0.28px;
	text-transform: uppercase;
}

.products__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-auto-rows: 1fr;
	gap: 20px;
	padding: 12px 0;
	margin-bottom: 24px;
}

.banner-card {
	position: relative;
	overflow: hidden;
	user-select: none;
}

.banner-card__info {
	position: relative;
	z-index: 1;
	top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-card__header {
	width: 100%;
	text-align: center;
	margin-bottom: 16px;
}


.banner-card__title {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.36px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.banner-card__discount {
	color: #00B207;
	font-size: 32px;
	line-height: 1.2;
	padding: 0 50px;
}

.banner-card__button {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 14px 32px;
	color: #00B207;
	font-weight: 600;
	line-height: 1.2;
	background-color: #fff;
	border-radius: 43px;
	will-change: transform;
}

.banner-card__button::after {
	content: "";
	min-width: 15px;
	min-height: 12px;
	background: url('../img/icons/arrow.svg') center no-repeat;
}

.banner-card__img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.products__card,
.card-products {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 0 248px;
	border: 1px solid #E6E6E6;
	transition: 0.3s;
}

.banner-card {
	border: none;
}

.card-products__top {
	position: relative;
	padding: 5px;
}

.card-products__img {
	display: block;
	overflow: hidden;
	aspect-ratio: 258 / 230;
	background-color: lightgray;
}

.card-products__img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scale(1.02);
	transition: 0.3s;
	will-change: transform;
}

.card-products__action {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	gap: 5px;
	padding: 16px 16px 0 16px;
	pointer-events: none;
}

.card-products__buttons {
	display: flex;
	flex-direction: column;
	gap: 6px;
	justify-content: end;
	margin-left: auto;
}

.card-products__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	padding: 12px;
	height: 100%;
}

.info-product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 6px;
	align-self: start;
	height: 100%;
}

.info-product__title {
	transition: 0.7s;
	line-height: 1.5;
}

.info-product__price {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.info-product__old-price {
	color: #999;
	text-decoration-line: line-through;
}

.rating-star {
	align-self: flex-start;
}

.card-products__bag {
	border-color: #F2F2F2;
}

.card-products__bag:active svg {
	stroke: #00B207;
}

.card-products__bag:active svg>path {
	fill: transparent;
}



.grid-section-products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-auto-rows: 1fr;
	gap: 24px;
}

.grid-section-products__category {
	display: grid;
	gap: 16px;
	grid-template-rows: repeat(4, auto);

}

.grid-section-products__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
}

.grid-section-products__item {
	display: grid;
	align-content: center;
	gap: 12px;
	padding: 5px;
	grid-template-columns: 102px auto;
	border: 1px solid #E6E6E6;
	border-radius: 6px;
	transition: 0.3s;
	overflow: hidden;
}

.grid-section-products__img {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	width: 100%;
	align-self: center;
	background-color: lightgray;
}

.grid-section-products__info {
	display: grid;
	align-content: center;
	justify-items: start;
	justify-self: start;
}



.grid-section-products__name {
	color: #4D4D4D;
	line-height: 1.5;
	transition: color 0.3s;
}

.grid-section-products__price {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 6px;
}

.grid-section-products__price>span {
	color: #999;
	font-weight: 400;
}

.grid-section-products__btn {
	display: flex;
	gap: 12px;
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}


.btn--green {
	border-color: #F2F2F2;
}

.products__bag:active svg {
	stroke: #00B207;
}

.products__bag:active svg>path {
	fill: transparent;
}

.banner-card--big .banner-card__discount {
	color: #1A1A1A;
}


.catalog {
	font-family: "KoPubBatang", serif;
	font-size: 20px;
	color: #000;
	background-color: #F8F3EC;
}

.catalog__grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: 31px;
	padding: 30px 0;
}

.catalog__grid-container:first-child,
.catalog__grid-container:last-child {
	align-items: center;
	justify-items: start;
}


.catalog__title {
	grid-column: 2 / 4;
	grid-row: 1;
	font-size: 60px;
	font-weight: 300;
}


.card-catalog {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 14px 10px;
	grid-row: span 2;
	width: 100%;
	overflow: hidden;
}

.card-catalog__img {
	grid-column: span 2;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	width: 100%;
	height: 100%;
	background-color: lightgray;
	transition: 0.3s;
	will-change: transform;
}

.card-catalog__name {
	align-items: start;
	margin-bottom: 14px;
}

.card-catalog__price {
	color: #4E4E4E;
	font-family: "Carme", sans-serif;
	font-size: 18px;
}

.card-catalog__action {
	display: flex;
	flex-wrap: nowrap;
	align-self: flex-start;
	gap: 0 20px;
}

.card-catalog__btn {
	width: 23px;
	height: 23px;
	flex: 0 0 auto;

}

.card-catalog__btn img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 1 / 1;
}

.catalog__link {
	display: flex;
	gap: 10px;
	padding: 8px 30px;
	background-color: #DBCCBA;
}

.catalog__button {
	padding: 10px;
	border: 1px solid #DBCCBA;

	color: #2C2C2C;
	font-size: 17px;
	line-height: 1.4;
}

.catalog__link::after {
	content: "";
	min-width: 23px;
	min-height: 14px;
	background: url('../img/blossomia/right-arrow.svg') center / contain no-repeat;
}

/*===========================================================================*/

@media (max-width: 1150px) {
	.catalog__grid-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.catalog__title {
		grid-column: 1 / 3;
		font-size: 60px;
		text-align: center;
	}
}

@media (max-width: 970px) {
	.products {
		padding: 30px 0;
	}

	.products__header {
		margin-bottom: 10px;
	}

	.info-product {
		gap: 0px;
	}
}

@media (max-width: 767.98px) {
	.grid-section-products__info {
		grid-template-columns: 1fr auto;
		align-content: center;
		gap: 0 15px;
		width: 100%;
	}

	.grid-section-products__btn {
		display: flex;
		flex-direction: column;
		justify-self: end;
		gap: 2px;
		width: auto;
		height: auto;
		position: relative;
		opacity: 1;
		visibility: visible;
		grid-column: 2 / 3;
		grid-row: 1 / 4;
	}


	.grid-section-products__info>.rating {
		align-self: start;
	}

	.grid-section-products__name {
		align-self: end;
	}

	.grid-section-products__price {
		align-self: center;
		margin-bottom: 0;
	}


	.grid-section-products__title {
		text-align: center;
	}

	.catalog__grid-container {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}

	.catalog__title {
		grid-column: 1 / 1;
		text-align: center;
	}

	.card-products__bag {
		background-color: #00B207;
	}

	.card-products__bag svg {
		stroke: #fff;
	}

}



@media (max-width: 650px) {
	.grid-section-products {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.grid-section-products__item {
		gap: 0 40px;
	}

	.grid-section-products__info {
		gap: 0 40px;
	}
}

@media (max-width: 400px) {

	.grid-section-products__item {
		gap: 0 10px;
	}

	.grid-section-products__info {
		gap: 0 10px;
	}
}

@media (any-hover: hover) {

	.banner-card__button:hover {
		transform: scale(1.01);
	}

	.card-catalog:hover>img {
		transform: scale(1.01);
	}

	.card-products__top:hover img,
	.card-news__top:hover img {
		transform: scale(1.01);
	}

	.card-products:hover {
		border: 1px solid #2C742F;
		box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
		z-index: 2;
	}

	.card-products:hover .info-product__title {
		color: #2C742F;
	}

	.card-products:hover .card-products__bag {
		background-color: #00B207;
	}

	.card-products:hover .card-products__bag svg {
		stroke: #fff;
	}

	.card-products .card-products__bag:hover {
		background-color: #2C742F;
	}

	.card-products__buttons {
		visibility: hidden;
		opacity: 0;
		transition: 0.5s;
	}

	.card-products:hover .card-products__buttons {
		visibility: visible;
		opacity: 1;
	}

	.grid-section-products__item:hover {
		box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
		border-color: #2C742F;
	}

	.grid-section-products__item:hover .btn--green {
		background-color: #00B207;
	}

	.grid-section-products__item:hover .btn--green svg {
		stroke: #fff;
	}

	.grid-section-products__item .btn--green:hover {
		background-color: #2C742F;
	}

	.grid-section-products__item:hover .grid-section-products__price,
	.grid-section-products__item:hover .rating-star {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}

	.grid-section-products__item:hover .grid-section-products__name {
		margin-bottom: 8px;
		color: #2C742F;
	}

	.grid-section-products__item:hover .grid-section-products__btn {
		position: relative;
		width: auto;
		height: auto;
		opacity: 1;
		visibility: visible;
	}
}