@import url("reset.css");


body {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 16px;
	background-color: #000000;
	color: #ffffff;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1350px;
	/*1200 + 15 + 15*/
	margin: 0 auto;
	padding: 0 15px;
}


/*====================================================================*/

code{
	padding: 3px 7px;
	border-radius: 4px;
	font-size: 18px;
	line-height: 1.7;
	color: rgb(3, 192, 3);
	background-color: rgba(58, 45, 45, 0.582);
}

.blog {
	padding: 30px 0;
}

.page-1,
.page-2 {
	padding: 100px 0;
}

h1{
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	margin-bottom: 50px;
	font-size: 26px;
	font-weight: 700;
	color: #ee5f00;
	text-align: center;
	text-transform: uppercase;
}
.page-1__items {
	font-size: 0;
	margin: 0 -10px;
	border: #ffffff 1px dashed;
}
.page-1__item-row {
	display: inline-block;
	vertical-align: top;
	width: 16.666%;
	min-width: 140px;
	padding: 10px;
}
.item-page-1 {
	border: #ee5f00 2px dashed;
	padding: 20px 5px;

}

.item-page-1__square  {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 40px;
	border: #ffffff 3px solid;
	border-radius: 3px;
	box-shadow: 1px 1px 15px 10px rgb(84, 5, 104);
	transition: all 0.5s;
}


.item-page-1__info {
	min-height: 100px;
	text-align: center;
}

.item-page-1:hover .square-1{
	transform: translateX(-40px);
}

.item-page-1:hover .square-2{
	transform: translate(20px, 20px);
}
.item-page-1:hover .square-3{
	transform: rotate(45deg);
}
.item-page-1:hover .square-4{
	transform: rotateX(90deg);
}
.item-page-1:hover .square-5{
	transform: rotateY(75deg);
}
.item-page-1:hover .square-6{
	transform: scale(1.3);
}
.item-page-1:hover .square-7{
	transform: scaleX(.5);
}
.item-page-1:hover .square-8{
	transform: scaleY(1.8);
}
.item-page-1:hover .square-9{
	transform: skew(60deg, 60deg);
}
.item-page-1:hover .square-10{
	transform: skewX(60deg);
}
.item-page-1:hover .square-11{
	transform: skewY(60deg);
}
.item-page-1:hover .square-12{
	transform: matrix(-0.28, 1.54, -1.23, -0.53, -40, -40);
}


/*====================================================================*/

.page-2__items {
	border: rgb(0, 255, 191) 3px dotted;
	margin:  0 -10px;
	font-size: 0;
}
.page-2__item-row {
	display: inline-block;
	width: 33.333%;
	min-width: 240px;
	vertical-align: top;
	padding: 10px;
}

.item-page-2 {
	border: #ff7300 1px solid;
}


.item-page-2__hero {
	margin-bottom: 50px;
	perspective: 1000px;
	padding: 50px 5px;
}


.cube {
	position: relative;
	transform-style: preserve-3d;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	transition: all 1s;
	background-color: rgba(0, 255, 128, 0.822);
}

.cube div{
	position: absolute;
	inset: 0;
	background-color: hsl(160deg 100% 45% / 40%);
	border: #00ece0 2px solid;
	font-size: 80px;
	line-height: 130px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
}


.item-page-2__info{
	text-align: center;
	min-height: 70px;
}

.cube__side-top {
	transform: translateY(-75px) rotateX(90deg) ;
}
.cube__side-left {
	transform: translateX(-75px) rotatey(90deg) ;
}
.cube__side-right {
	transform: translateX(75px) rotatey(-90deg) ;
}
.cube__side-bottom {
	transform: translateY(75px) rotateX(-90deg) ;
}
.cube__side-front {
	transform: translateZ(75px);
}
.cube__side-back {
	transform: translateZ(-75px);
}


.item-page-2__hero:hover .cube--1{
	transform: translate3d(-140px, -40px, 140px);
}
.item-page-2__hero:hover .cube--2{
	transform: rotate3d(5, 4, 3, 180deg);
}
.item-page-2__hero:hover .cube--3{
	transform: scale3d(2, 2 ,5);
}
.item-page-2__hero:hover .cube--4{
	transform: rotateY(315deg);
}
.item-page-2__hero:hover .cube--5{
	transform: rotateX(315deg);
}
.item-page-2__hero:hover .cube--6{
	transform: scale(1.2) translate3d(-300px, -200px, 400px) rotate3d(-15, 17, 3, 360deg)
}



.page-3 {
	padding: 30px 0;
}

.scene__inner {
	position: relative;
	height: 400px;
	border: orangered 1px solid;
}
.scene__road {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(to right, hsl(0deg 0% 100%) 20px, hsl(0deg 0% 8%) 20px) 0 0 / 40px 10px repeat-x, linear-gradient(to right, hsl(0deg 0% 100%) 200px, transparent 100px 400px) center / 400px 7px repeat-x, hsl(0deg 0% 20%);
}
.scene__car {
	position: absolute;
	left: 30%;
	bottom: 25%;
	
}

.car__base{
	width: 600px;
	height: 200px;
	perspective: 600px;
	transform-style: preserve-3d; 
}

.base__top {
	position: absolute;
	bottom: 70px;
	left: 195px;
	height: 40px;
	width: 255px;
	transform: skewX(-70deg);
	border-radius: 30% 100% 0 0;
	perspective: 100px;
	background-color: #d1ab00;
	z-index: 1;
}

.base__top-back{
	position: absolute;
	bottom: 65px;
	right: 78px;
	height: 25px;
	width: 150px;
	border-radius: 0 0 20px 0;
	background-color: #d1ab00;
	transform: skewX(10deg) rotateZ(10deg);
	z-index: -1;
}

.base__top::before{
	content: "";
	position: absolute;
	bottom: -11px;
	right: -133px;
	width: 200px;
	height: 15px;
	border-radius: 100% 100% 0 0;
	border-top: #d1ab00 4px solid;
	box-shadow: 0px -16px 60px -3px rgba(0,0,0,0.8);
}

.base__top-back-2{
	position: absolute;
	bottom: 78px;
	right: 85px;
	height: 20px;
	width: 80px;
	background-color: #d1ab00;
	transform: skewX(35deg) rotateZ(10deg) rotateX(65deg);
	box-shadow: inset -2px 12px 25px 0px rgba(0,0,0,0.77);

}

.base__top-back-2::before{
	position: absolute;
	bottom: 5px;
	right: 9px;
	content: "";
	width: 42px;
	height: 10px;
	background-color: #000000;
}

.base__top-back-3{
	position: absolute;
	bottom: 80px;
	right: 170px;
	width: 0;
	height: 0;
	border-left: #d1ab00 50px solid;
	border-top: transparent 10px solid;
	border-bottom: transparent 10px solid;
	transform: rotate(5deg);
	z-index: 2;
}

.base__top-back-3::before{
	position: absolute;
	bottom: 2px;
	right: 9px;
	content: "";
	width: 42px;
	height: 15px;
	background-color: #df9903;
	transform: skew(35deg) rotate(6deg);
}

.base__top-back-3::after{
	position: absolute;
	bottom: -1px;
	right: 50px;
	content: "";
	width: 7px;
	height: 15px;
	background-color: #352d2d;
	transform: skew(0deg, 60deg);
}


.base__middle {
	position: absolute;
	bottom: 20px;
	left: 70px;
	width: 425px;
	height: 50px;
	transform: skewX(-70deg);
	border-radius: 0 50px 0 40px;
	background-color: #d1ab00;
}

.base::before{
	content: "";
	position: absolute;
	bottom: 39px;
	right: 255px;
	border-right: black 50px solid;
	border-top: transparent 10px solid;
	border-bottom: transparent 10px solid;
	border-radius: 0 4px 4px 0;
	z-index: 1;
}

.base__bottom {
	position: absolute;
	bottom: 10px;
	left: 33px;
	width: 400px;
	height: 20px;
	border-radius: 20px 0 0 20px;
	background-color: #d1ab00;
	box-shadow: inset 0px -7px 10px -1px rgba(0,0,0,0.84);
}




.base__wheels {
	position: absolute;
	bottom: -20px;
	left: 90px;
	width: 370px;
	font-size: 0
}
.base__wheel {
	display: inline-block;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background: url('../img/wheel-2.png') center / 115% no-repeat;
}

.base__wheels:hover .base__wheel{
	animation: spin 0.001s  linear  infinite;
}


.base__wheel:last-child{
	position: absolute;
	right: 0;
}


@keyframes spin{
	from {transform: rotate(0deg);}
	to{transform: rotate(-360deg);}
}

.base__wheels-backgraund::after{
	content: '';
	position: absolute;
	bottom: 19px;
	right: 143px;
	width: 75px;
	height: 35px;
	background-color: black;
	border-radius: 20px 40px 10px 5px;
	transform: rotateZ(-16deg);
}

.base__wheels-backgraund::before{
	content: '';
	position: absolute;
	background-color: black;
	bottom: 9px;
	left: 90px;
	width: 75px;
	height: 45px;
	border-radius: 80px 80px 0 0;
}
.door {
	overflow: hidden;
	position: absolute;
	bottom: 20px;
	left: 180px;
	width: 150px;
	height: 90px;
	perspective: 100px;
	z-index: 2;
}


.base:hover .door{
	transform-origin: 0px 40px;
	transform: rotate(-45deg);
	transition: all 3s;
}
.door__top {
	overflow: hidden;
	width: 100%;
	height: 40px;
	border-radius: 100% 0 0 0;
	border-bottom: #c5a100 4px solid;
	background-color: #c5a100;
	perspective-origin: top right;
	perspective: 20px;
}

.door__top::before{
	content: "";
	position: absolute;
	top: 25px;
	left: 0;
	width: 20px;
	height: 10px;
	border-radius: 100% 50% 50% 0;
	background: #000000;
	z-index: 2;
}



.door__window {
	position: absolute;
	right: 4px;
	top: 0;
	width: 100px;
	height: 30px;
	background-color: #1a2726bb;
	border: #000000 4px solid ;
	transform: rotateX(45deg);
}

.door__window::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	border: #000000 2px solid ;
	transform-origin: top left;
	transform: rotateZ(-60deg);
}

.door__window::after{
	content: '';
	position: absolute;
	top: 60%;
	left: 30%;
	width: 65px;
	border: #000000 1px solid ;
	transform-origin: center;

}


.door__bottom {
	overflow: hidden;
	position: absolute;
	bottom: -14px;
	left: 15px;
	width: 115px;
	height: 74px;
	transform: rotateX(-45deg);
	background-color: #c5a100;
	border-radius: 0 0 20% 0;
}

.door__bottom::before{
	content: "";
	position: absolute;
	top: 15px;
	left: 80px;
	border-right: black 50px solid;
	border-top: transparent 10px solid;
	border-bottom: transparent 10px solid;
}


.salone {
	overflow: hidden;
	position: absolute;
	bottom: 20px;
	left: 180px;
	width: 150px;
	height: 90px;
	perspective: 100px;
	z-index: 1;
	background: url('../img/Clipped_image_20250429_124113.png') center / 220% 189% no-repeat;
}
.salone__top {
	overflow: hidden;
	width: 100%;
	height: 40px;
	border-radius: 100% 0 0 0;
	perspective-origin: top right;
	perspective: 20px;
}
.salone__bottom {
	overflow: hidden;
	position: absolute;
	bottom: -12px;
	left: 16px;
	width: 115px;
	height: 70px;
	transform: rotateX(-45deg);
	border-radius: 0 0 20% 0;
}

.base__element-1{
	position: absolute;
	bottom: 12px;
	left: 33px;
	width: 4px;
	height: 12px;
	background-color: #000000;
	transform: rotate(-25deg);
}

.base__element-2 {
	position: absolute;
	bottom: 30px;
	left: 72px;
	content: "";
	height: 30px;
	width: 2px;
	background-color: #000000;
	transform: rotate(69deg);
}
.base__element-3 {
	position: absolute;
	right: 110px;
	bottom: 30px;
	width: 30px;
	height: 10px;
	background-color: #000000;
	z-index: -1;
}

.base__element-4 {
	position: absolute;
	bottom: 30px;
	left: 70px;
	width: 5px;
	height: 5px;
	background-color: #9b4105;
	z-index: 2;
}
.base__element-5 {
	position: absolute;
	bottom: 25px;
	right: 250px;
	width: 20px;
	height: 3px;
	background-color: #722e01;
	z-index: 2;
}


.base__small-window {
	position: absolute;
	right: 77px;
	top: 5px;
	height: 27px;
	width: 50px;
	border: #000000 2px solid;
	transform: skew(70deg) rotatey(40deg) ;
	background-color: #1a2726bb;
}