@import url("reset.css");


body {
	background-color: #000000;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1350px;
	/*1200 + 15 + 15*/
	margin: 0 auto;
	padding: 0 15px;
}


/*====================================================================*/


.page {
	height: 100vh;
	padding: 20px 0;
}

.rating-star {
	position: relative;
	font-size: 16px;
	line-height: 1;
	display: inline-block;
}

.rating-star::before{
	content: "★★★★★";
	display: block;
}

.rating-star__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.rating-star__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.rating-star__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #CCCCCC;;
}

.rating-star__label::before{
	content: "★";
	display: block;
	transition: color 0.3s;
}

.rating-star__label:hover,
.rating-star__label:hover ~ .rating-star__label {
	color: #fff78a;
}
.rating-star__label:has(input:checked),
.rating-star__label:has(input:checked) ~ .rating-star__label {
	color: #fcb723;
}