@import url("reset.css");

@import url("fonts.css");


body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #000000;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1350px;
	/*1200 + 15 + 15*/
	margin: 0 auto;
	padding: 0 15px;
}


/*====================================================================*/

.shop__body {
	padding: 50px 0;
	font-size: 0;
}

.card {
	border: 1px solid #E6E6E6;
	display: inline-block;
	vertical-align: top;
	width: 20%;
	background-color: #fff;
}

.card:hover {
	border: 1px solid #2C742F;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
	transition: 0.3s;
}

.card:hover .card__text {
	color: #2C742F;
}

.card:hover .card__icon {
	background-color: #00B207;
	stroke: #fff;
}

.card:hover .card__wishlist {
	visibility: visible;
	opacity: 1;
	transition: 2s;
}

.card__top {
	position: relative;
	padding: 5px;
}

.card__img {
	display: block;
	height: 230px;
}

.card__img img {
	width: 100%;
	height: 100%;
}

.card__bottom {
	position: relative;
	padding: 12px;
	font-size: 0;
}

.card__wishlist {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
}

.card__wishlist>*:not(:last-child) {
	margin-bottom: 6px;
}

.card__icon,
.wishlist__icon {
	transition: 0.3s;
}

.wishlist__icon {
	display: block;
	padding: 10px;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	background-color: #fff;
	stroke: #1A1A1A;
}

.wishlist__icon:hover {
	stroke: #fff;
	background-color: #00B207;
}


.card__info {
	display: inline-block;
	vertical-align: top;
}

.card__text {
	color: #4D4D4D;
	font-size: 14px;
	line-height: 1.5;
}

.card__price {
	color: #1A1A1A;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.card__icon {
	position: absolute;
	right: 16px;
	/* top: 50%;
	transform: translateY(-50%); */
	stroke: #000000;
	padding: 10px;
	border-radius: 50%;
	background-color: #F2F2F2;
}


.card .card__icon:hover {
	stroke: #fff;
	background-color: #2C742F;
}


/*=====================================================================*/


.section {
	position: relative;
	background-color: #5A54F2;
	font-size: 0;
}

.section::before {
	content: '';
	position: absolute;
	top: 0;
	left: -10%;
	width: 120%;
	border: 30px solid #fff;
	border-radius: 0 0 100% 100%;
}

.section::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -10%;
	width: 120%;
	border: 30px solid #fff;
	border-radius: 100% 100% 0 0;
}


.content-bottom,
.content-top {
	display: inline-block;
	position: relative;
}

.content-top {
	margin-bottom: 55px;
}


.content-top__image,
.content-bottom__image {
	position: relative;
	z-index: 1;
	display: inline-block;
	border-radius: 20px;
	overflow: hidden;
}

.content-top__image {
	margin-right: 70px;
	vertical-align: middle;
}

.content-top__info {
	vertical-align: middle;
}

.content-bottom__info,
.content-top__info {
	display: inline-block;
	max-width: 600px;
	color: #fff;
	font-size: 18px;
	max-width: 530px;
}

.text-content h2 {
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 10px;
}

.text-content p {
	font-family: "Roboto", sans-serif;
	line-height: 1.7;
}

.text-content p:not(:last-child) {
	margin-bottom: 10px;
}

.content-bottom--right {
	display: block;
	margin-left: auto;
	max-width: 1050px;
}

.content-bottom__info {
	vertical-align: top;
	margin-right: 70px;
}

.content-top__text,
.content-bottom__text {
	margin-bottom: 40px;
	display: inline-block;
}

.btn {
	cursor: pointer;
	padding: 22px 26px;
	border-radius: 60px;
	font-weight: 500;
	background-color: #F35B09;
	transition: 0.3s;
}

.btn:hover {
	background-color: #c24a0a;
}

.content-bottom__image {
	box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
}

.content-top__image {
	box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}

/*==============================================================*/

.content-top::before {
	position: absolute;
	top: 30%;
	left: -13%;
	content: '';
	width: 65px;
	height: 65px;
	background: url('../img/business/backgraund/ellipse_65x65.svg') center / 65px no-repeat;
}

.content-top::after {
	position: absolute;
	bottom: -10%;
	left: -10%;
	content: '';
	width: 405px;
	height: 405px;
	background: url('../img/business/backgraund/ellipse_401x401.svg') center / 405px no-repeat;
}

.content-bottom::before {
	position: absolute;
	top: -10%;
	right: 25%;
	z-index: 2;
	content: '';
	width: 65px;
	height: 65px;
	background: url('../img/business/backgraund/ellipse_65x65.svg') center / 65px no-repeat;
}

.content-bottom::after {
	position: absolute;
	top: -5%;
	right: -12%;
	content: '';
	width: 262px;
	height: 262px;
	background: url('../img/business/backgraund/ellipse_262x262.svg') center / 262px no-repeat;
}

.section__body {
	position: relative;
}

.section__body::before {
	position: absolute;
	top: 30%;
	left: -12%;
	height: 500px;
	width: 300px;
	content: '';
	background: url('../img/business/backgraund/dotted_vertical.svg') center no-repeat;
}

.section__body::after {
	position: absolute;
	bottom: 10%;
	right: -25%;
	height: 300px;
	width: 500px;
	content: '';
	background: url('../img/business/backgraund/dotted_vertical.svg') center no-repeat;
}

.footer{
	padding: 30px 0;
}