@font-face {
	font-family: "Minecraft";
	src: url("../fonts/minecraft-ten-font-cyrillic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "pshek";
	src: url("../fonts/pshek_ky2.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "pshek";
	src: url("../fonts/pshek_py2.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
